body {
    font-family: 'Times New Roman', Times, serif;
    color: #e7e3e3;
    text-align: center;
    font-weight: bold; /* Make all text bold */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
}

h2 {
    margin-top: 50px;
    font-size: 36px;
}

p {
    font-size: 20px;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1c4cd;
    color: rgb(18, 18, 19);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Make button text bold */
    margin: 10px; /* Add some space between buttons */
}

button:hover {
    background-color: #fbf9fc;
}

#result {
    margin-top: 30px;
    background-color: rgba(141, 137, 140, 0.082);
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    max-width: 600px;
    text-align: left;
    font-weight: bold; /* Make result text bold */
}